*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    padding:30px 15px 0;
    background-color: #24282f;
}
.container{
    margin:auto;
    max-width:1065px;
}
header .container{
    display: flex;
    justify-content: space-between;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    display: inline-block;
    margin-left: 52px;
}
header nav ul li a{
    color: white;
    font-size: 11px;
    text-transform: uppercase;
}
header nav ul li:after{
    content: "";
    display: block;
    margin-top: 33px;
    width: 0;
    height: 3px;
    background-color:#b5a263;
    transition: 0.2s;
}
header nav ul li:hover:after{
    width: 100%;
}
.about{
    background-image:url("../images/aboutbg.jpg");
    background-size: cover;
    padding-top:71px;
    padding-bottom: 85px;
}
.about h1{
    font-size: 31px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.about p{
    font-size: 11px;
    color:#ffffff;

}